
<div><canvas id="barChart"></canvas></div>

<a asp-action="ExportData" asp-controller="Report" class="btn btn-dark">Export CSV</a>

@{ ChartJSCore.Models.Chart chart = (ChartJSCore.Models.Chart)ViewData["chart"];}

<script src="~/lib/Chart.js/chart.min.js"></script>

<script>
    @Html.Raw(chart.CreateChartCode("barChart"))
</script>