@model ClassTrackerBRFE2022.Models.TeacherModels.TeacherCreate

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TeacherCreate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    @using (Html.BeginForm("UploadFile", "Teacher", FormMethod.Post, new {@class = "dropzone", @id = "dropzone-form" })) 
    { 
        <div class="fallback">
            <input name="file" type="file" />
        </div>
    }
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/lib/dropzone/min/dropzone.min.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">

    Dropzone.options.dropzoneForm = {
        maxFiles: 1,
        acceptedFiles: "video/*",
        success: function (file, response) {
            $("#Phone").val(file.upload.filename)
            console.log("Filename: " + file.upload.filename);
            file.previewElement.classList.add("dz-success");
        },
        error: function (file, message) {
            alert(message);
        }
    }
</script>




