@model IEnumerable<ClassTrackerBRFE2022.Models.TafeClassModels.TafeClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<input type="text" id="filter" oninput="refreshTable(this.value)" />
<button onclick="refreshTable()">Refresh</button>

<!-- 
    The div here will render the HTML returned by the PartialView
    Initially this is any data passed into this view, but when the javascript function is called
    the contents will be replaced by a combination of filtered data and the partialview html
-->

<div id="renderedContent">
    @Html.PartialAsync("TafeClassList.cshtml").Result
</div>


<script>
    // Uses an AJAX post to send the input data back to the server to be used for filtering the returned data
    function refreshTable(filterText){
        $.ajax({
            url: '/TafeClass/TafeClassList',
            type: 'POST',
            data: {locationFilter: filterText},
            // when the request is successful, update the HTML in the selected element
            success: function (result){
                document.getElementById("renderedContent").innerHTML = result
            }
        })
    }


</script>
